# FitCraft Backend - Environment Variables Template
JWT_SECRET=fitcraft_jwt
JWT_EXPIRES_IN=7d
PORT=5001
CLIENT_URL=http://localhost:5173
GOOGLE_Client_ID=your_google_client_id_here
GOOGLE_Client_secret=your_google_client_secret_here
MONGO_URI=mongodb://localhost:27017/fitcraft
